 .u-section-1 {
  background-image: linear-gradient(#98b2dc, #e67b13);
}

.u-section-1 .u-sheet-1 {
  min-height: 611px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 611px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 501px;
  height: 221px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px 100px 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  font-family: Roboto, sans-serif;
  margin: 17px auto 0 10px;
}

.u-section-1 .u-image-2 {
  min-height: 611px;
  background-image: url("images/mockup_phone__11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 60px;
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 450px;
    height: 199px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -14px;
    margin-right: 91px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 504px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -29px;
    margin-right: 0;
    margin-left: -13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: -13px;
  }

  .u-section-1 .u-image-2 {
    min-height: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 52px;
  }

  .u-section-1 .u-image-2 {
    min-height: 579px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 146px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 365px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 611px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -13px;
  margin-bottom: -38px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 619px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 541px;
  height: 734px;
  --animation-custom_in-translate_x: -800px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 1;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease;
  margin: -219px 31px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 619px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
  margin: 31px 150px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 31px 150px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 31px 117px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  text-transform: uppercase;
  font-family: "Fira Code";
  margin: 7px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-2 .u-image-1 {
    width: 545px;
    height: 638px;
    margin-top: -147px;
    margin-right: auto;
    margin-left: -25px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 124px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 21px;
    margin-right: 124px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-right: 96px;
  }

  .u-section-2 .u-btn-1 {
    font-family: Roboto, sans-serif;
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 711px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-2 .u-image-1 {
    width: 435px;
    height: 489px;
    margin-top: -151px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 7px;
    margin-right: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
    margin-right: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
    margin-right: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-2 .u-image-1 {
    width: 466px;
    margin-top: -126px;
    margin-left: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 71px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-right: 55px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-2 .u-image-1 {
    width: 381px;
    height: 462px;
    margin-top: -179px;
    margin-left: -65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 273px;
    margin-right: 115px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-2 {
    width: 338px;
    margin-top: 18px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-2 .u-text-3 {
    width: 336px;
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 45px;
    margin-left: 52px;
  }
} .u-section-3 {
  min-height: 708px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-bottom: 0;
  margin-top: -13px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 721px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 44px 0 0 29px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 0 0 17px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 721px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 14px;
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  width: 594px;
  height: 707px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 675px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 79px;
    margin-right: 75px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 75px;
    margin-left: 21px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 675px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-1 {
    width: 742px;
    height: 672px;
    margin-top: -48px;
    margin-left: -168px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 575px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 68px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 18px;
    margin-left: -19px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 18px;
    margin-left: -19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 575px;
  }

  .u-section-3 .u-image-1 {
    height: 471px;
    width: 492px;
    margin-top: -11px;
    margin-left: -55px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 838px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 42px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 41px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -89px;
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1020px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 54px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 40px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3 .u-image-1 {
    width: 414px;
    height: 493px;
    margin-top: -177px;
    margin-left: 0;
  }
} .u-section-4 {
  min-height: 355px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -10px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(29,34,40,0.65), rgba(29,34,40,0.65)), url("images/pexelsphoto219014.jpeg");
  min-height: 365px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 81px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Fira Code";
  margin: 55px 834px 0 0;
}

.u-section-4 .u-image-2 {
  width: 788px;
  height: 279px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -279px 34px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 136px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 291px;
  }

  .u-section-4 .u-image-1 {
    min-height: 301px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 67px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 634px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 221px;
  }

  .u-section-4 .u-image-1 {
    min-height: 231px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 51px;
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 465px;
  }

  .u-section-4 .u-image-2 {
    width: 690px;
    height: 244px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 163px;
  }

  .u-section-4 .u-image-1 {
    min-height: 173px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 305px;
  }

  .u-section-4 .u-image-2 {
    width: 530px;
    height: 187px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 99px;
  }

  .u-section-4 .u-image-1 {
    min-height: 109px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-4 .u-image-2 {
    width: 330px;
    height: 116px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 720px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 173px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 24px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 11px 0 0;
}

.u-section-5 .u-image-1 {
  height: 512px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-5 .u-group-1 {
    width: 625px;
    min-height: 178px;
    margin-top: 25px;
    margin-left: 158px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 481px;
    margin-top: -55px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-5 .u-group-1 {
    width: 576px;
    min-height: 213px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-5 .u-group-1 {
    width: 415px;
    min-height: 190px;
    margin-top: 40px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-image-1 {
    height: 368px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-group-1 {
    min-height: 277px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 334px;
    width: 329px;
    margin-top: -114px;
    margin-right: 0;
    margin-left: auto;
  }
}